<ion-view view-title="Canciones">
  <ion-content>

    <div class="card" ng-repeat="song in songs">
      <div class="item item-divider">
        <h2>{{song.name}}</h2>
      </div>

      <div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-person"></i>
          Artista: {{song.artist}}
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-musical-notes"></i>
          Genero: {{song.genre}}
        </a>

        <button class="button button-outline button-block button-positive" ng-click="votar(song)">
          <i class="icon ion-ios-star"></i>
          Votar por esta canción
        </button>


<!--
        <ion-toggle class="item item-icon-left" ng-model="song.votar.enable">
          <i class="icon ion-ios-star"></i>
          Recomendar canción
        </ion-toggle>
-->
      </div>
    </div>

  </ion-content>
</ion-view>
